*{
	margin: 0;
	box-sizing: border-box;
}

html, body {
     min-height: 100%;
     min-width: 100%;
     font-family: 'Roboto', sans-serif;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(assets/pawPrint1.png);
	background-size: 100%;
	background-repeat: repeat;
	background-position: center;	
}

.col{
	background-color: white;
}

ul{
	list-style: none;
}

.nav{
	display: flex;
	flex-direction:  row;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	padding: 1rem 1rem;
	text-align: center;
	font-size: 14px;

}

.nav i span{
	padding-left: 10px;
}

#menuToggle {
  opacity: 0;
  display: none;
}

#menuToggle:checked + .menuBtn > span {
  transform: rotate(45deg);
}

#menuToggle:checked + .menuBtn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menuToggle:checked + .menuBtn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menuToggle:checked ~ .menuBox {
  right: 0 !important;
}

.menuBtn {
  position: absolute;
  top: 28px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menuBtn > span,
.menuBtn > span::before,
.menuBtn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menuBtn > span::before {
  content: '';
  top: -8px;
}

.menuBtn > span::after {
  content: '';
  top: 8px;
}

.menuBox {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #f1b5b8;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}

.menuItem {
  display: block;
  padding: 12px 24px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

h1{
	background-color: #d4cec8;
	color: white;
	text-transform: uppercase;
	font-size: 38px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
	font-weight: 700;
	text-align: center;
	margin-bottom: 10%;
}

h3{
	text-align: center;
	padding: 10% 0;
}

img{
	width: 100%;
	border-radius: 50%;
}

p{
	font-size: 18px;
}

#aboutUs, #doodles, #puppies, #interestForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 300px;
	height: 100%;
	padding: 2rem 2rem;
	text-align: justify;
	width: 100%;
}

#aboutUs{
	max-width: 768px;
}

#aboutUs p{
	margin-bottom: 10%;
	max-width: 650px;
	font-family: sans-serif;
}

#aboutUs h1, #puppies h1{
	padding: 10px 30px;
}

#aboutUs img{
	max-width: 300px;
	margin: 2% 0;
}

.aboutUsRight{
	/*background-color: #f7ebe9;*/
	border-radius: 25px;
	padding: 2% 5%;
}

.aboutUsLeft{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*Our Doodles Section*/
#doodles{
	background-color: #d4cec8;
	color: white;
	font-family: sans-serif;
	width: 100%;
	max-width: 950px;
	border-radius: 25px;
}

#doodles img{
	width: 100%;
	height: 100%;
	padding: 0px;
}

#doodles p{
	margin: 10% 0px 15% 0px;
	line-height: 30px;
	color: black;
}

/*Puppies Section*/

.background{
	background-color: #eae6e3;
}

#puppies img{
	border-radius: 0px;
	width: 100%;
	padding: 5%;
}

#puppies .containerflex{
	text-align: center;
}

h5{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	padding: 5% 0;
}

.generalInfo{
	background-color: #d4cec8;
	color: white;
	border-radius: 25px;
	max-width: 688px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
/*	max-height: 775px;*/
}

.generalInfo h1{
	font-size: 36px;
	margin: 2% 0;
	padding: 0px;
}

.generalInfo ul{
	padding-right: 5%;
	text-align: left;
	color: black;
}

.generalInfo li{
	padding-bottom: 10%;
}

.generalInfo li:last-child{
	padding-bottom: 0;
}

.generalInfo img{
	align-items: center;
	border-radius: 500px;
	max-width: 450px;
	padding: 5%;

}

/*Interest Form Section*/
#interestForm{
	background-color: #d4cec8;
	text-align: left;
}

input, textarea{
	min-width: 100%;
	margin: 2% 0 10% 0;
	padding: 2% 0 2% 2%;
	border: 1px solid white;
}

textarea{
	min-height: 100px;
}

label{
	color: black;
}

button{
	background-color: white;
}

#interestForm button{
	border-color: white;
	padding: 2% 5%;
}

/*Footer*/

.fa-facebook{
	color: #4267B2;
}

.fa-twitter{
	color: #1DA1F2;
}
.fa-instagram{
	color: #fb3958;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding: 1rem 1rem;
	max-height: 200px;
	width: 100%;
	font-size: 14px;
}

footer ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0;
	width: 100%;
}

footer ul li{
	width: 33.33%;
}

footer p{
	padding: 10% 0px;
}

/*Image slide show*/

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.mySlides, .mySlides2 {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.grid{
	display: none;
	max-height: 350px;
	max-width: 500px;
}


/*Screen breaks*/
@media	only screen and (max-width:  320px){
	#aboutUs, #doodles, #puppies, #interestForm, footer {
		padding: 1rem 1rem;
	}
}

@media only screen and (max-width: 375px){


	.nav{
		padding: 1rem .5rem;
	}

	.menuBtn{
		top: 26px;
		height: 24px;
		width: 24px;
	}
}

@media only screen and (min-width:  375px){
	footer{
		
		font-size: 12px;
		padding: .5rem;
	}

	footer .row{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.socials{
		display: flex;
		flex-direction: column;
		font-size: 20px;
	}

	footer p{
		padding: 0px 5%;
	}

	footer .col-3{
		width: 33%;
	}

	.containerflex{
		margin-bottom: 10%;
	}

	.rowflex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.col{
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
		flex: 1;
	}

	.flip{
		flex-direction: row-reverse;
	}

	footer .row{
	width: 100%;
	}

	footer .col-3{
		width: 25%;
	}

	footer .col-6{
		width: 50%;
	}

	#aboutUs p{
		margin-bottom: 2%;
	}
}

@media only screen and (min-width: 425px){
	.prev, .next, .mySlides, .mySlides2{
		display: none !important; 
	}

	.grid{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 1rem;
	}

	.pic1{
		grid-area: 1 / 1 / 4 / 4;	
	}

	.pic2{
		grid-area: 3 / 4 / 4 / 5;
	}

	.pic3{
		grid-area: 1 / 4 / 3 / 6;
	}
	#aboutUs p{
		line-height: 30px;
	}

	h3{
		padding: 2%;
	}

	.slideshow-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	}
}

@media only screen and (min-width: 600px){

	.generalInfo li{
		padding-bottom: 5%;
	}

	input, textarea{
		margin-bottom: 5%;
	}

	#doodles .ashur p{
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 768px){

	.nav{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem .5rem;
	}

	.menuBtn{
		display: none;
		transition: none;
	}

	.menuBox{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		position: initial;
		box-shadow: none;
		background-color: transparent;
		min-width: 400px;
		justify-content: flex-end;
	}

	.menuBox li{
		width: 50%;
	}

	.menuItem{
		font-weight: 750;
		font-size: 12px;
		padding: 0% 5%;
		color: black;
	}

	.socials{
		font-size: 1.50rem;
	}

	.generalInfo img{
		padding-top: 0px !important;
	}

	h1{
		margin-bottom: 5%;
	}

	#puppies, #doodles p, form{
		max-width: 768px;
	}



	#doodles p{
		padding: 0px 5%;
		margin-top: 5%;
	}

}

@media only screen and (min-width:  950px){
	.slideshow-container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	#doodles div p{
		max-width: 430px;
		padding: 0px 5%;
	}

	.ashur{
		display: flex;
		flex-direction: row-reverse;
	}

	.grid{
		padding: 0px 2%;
	}

}

@media only screen and (min-width: 1024px){

	.nav{
		padding: 1rem 1rem;
	}

	.menuBox li{
		width: 75%;

	}

	.menuBox{
		min-width: 550px;
	}
	
}

